language: java
sudo: false # faster builds

jdk:
  - openjdk8
  - openjdk10
  - openjdk11

#branches: # build only on these branches
#  only:
#    - master

script:
  - mvn clean package -B -f pom.xml

matrix:
  allow_failures:
    - jdk: openjdk10
    - jdk: openjdk11
